@{
    ViewBag.Title = "Pagina Inicio";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenido!</h1>
        @Html.ActionLink("Matriculate Ya!", "Index", "Prematricula", new { area = "" }, new { @class = "btn-success" })
    </section>

</main>