@model Matricula_Proyecto.Models.Usuarios

@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Login Matricula</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link href="~/Styles/style.css" rel="stylesheet" />
</head>

<body>
    <!-- login form -->
    <section class="w3l-login">
        <div class="overlay">
            <div class="wrapper">
                <div class="logo">
                    <a class="brand-logo" href="index.html">Sistema Matricula</a>
                </div>
                <div class="form-section">
                    <h3>Inicio de Sesion</h3>
                    <h6>Matricula con nosotros</h6>
                    <form action="#" method="post" class="signin-form">
                        @using (Html.BeginForm("Index", "NombreDelControlador", FormMethod.Post))
                        {
                            <div class="form-input">
                                @Html.TextBoxFor(Usuarios => Usuarios.usuario_nombre, new { required = "required", autofocus = "autofocus", placeholder = "Correo Electronico" })
                                @Html.ValidationMessageFor(Usuarios => Usuarios.usuario_nombre)
                            </div>
                            <div class="form-input">
                                @Html.TextBoxFor(Usuarios => Usuarios.password, new { required = "required", placeholder = "Contraseña", type = "password" })
                                @Html.ValidationMessageFor(Usuarios => Usuarios.password)
                            </div>
                            <label class="check-remaind">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <button type="submit" class="btn btn-primary theme-button mt-4">
                                Ingresar
                            </button>
                        }
                    </form>
                </div>
            </div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>

        <!-- copyright -->
        <div class="copy-right">
            <p>&copy; 2020 Snow Login Form. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
        </div>
        <!-- //copyright -->
    </section>

    <!-- /login form -->
</body>

</html>
