@model IEnumerable<Matricula_Proyecto.Models.Estudiantes>

@{
    ViewBag.Title = "Estudiantes";
}

<h2>Cursos por Estudiante</h2>

<table class="table">
    <tr>
        <th>Nombre Curso</th>
        <th>Descripcion Curso</th>
        <th>Creditos</th>
        <th>Precio</th>
    </tr>
    @foreach (var curso in Model)
    {
        <tr>
            <td>@curso.nombre_curso</td>
            <td>@curso.descripcion</td>
            <td>@curso.creditos_curso</td>
            <td>@curso.precio_curso</td>
        </tr>
    }
</table>
